body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(41, 39, 39);
    color: white;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

}

table, th, td {
    border: 1px double white;
}

.color {
    display: flex;
    flex-direction: row;
}